.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 80%;
    overflow: scroll;
    position: relative;
}
