.slot {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  width: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.slot.basic {
  background: white;
}

.slot.empty {
  background: gray;
}

.slot.air {
  background: linear-gradient(to right, powderblue 0%, powderblue 100%);
}

.slot.earth {
  background: linear-gradient(to right, wheat 0%, wheat 100%);
}

.slot.fire {
  background: linear-gradient(to right, red 0%, red 100%);
}

.slot.water {
  background: linear-gradient(to right, #4c4cff 0%, #4c4cff 100%);
}

.slot.air.earth {
  background: linear-gradient(to right, powderblue 50%, wheat 50%);
}

.slot.air.fire {
  background: linear-gradient(to right, powderblue 50%, red 50%);
}

.slot.air.water {
  background: linear-gradient(to right, powderblue 50%, #4c4cff 50%);
}

.slot.earth.fire {
  background: linear-gradient(to right, wheat 50%, red 50%);
}

.slot.earth.water {
  background: linear-gradient(to right, wheat 50%, #4c4cff 50%);
}

.slot.fire.water {
  background: linear-gradient(to right, red 50%, #4c4cff 50%);
}

.slot.air.earth.fire {
  background: linear-gradient(to right, 
              powderblue 0%, powderblue 33.33%, 
              wheat 33.33%, wheat 66.66%, 
              red 66.66%, red 100%);
}

.slot.air.earth.water {
  background: linear-gradient(to right, 
              powderblue 0%, powderblue 33.33%, 
              wheat 33.33%, wheat 66.66%, 
              #4c4cff 66.66%, #4c4cff 100%);
}

.slot.air.fire.water {
  background: linear-gradient(to right, 
              powderblue 0%, powderblue 33.33%, 
              red 33.33%, red 66.66%, 
              #4c4cff 66.66%, #4c4cff 100%);
}

.slot.earth.fire.water {
  background: linear-gradient(to right, 
              wheat 0%, wheat 33.33%, 
              red 33.33%, red 66.66%, 
              #4c4cff 66.66%, #4c4cff 100%);
}

.slot.air.earth.fire.water {
  background: linear-gradient(to right, 
              powderblue 0%, powderblue 25%, 
              wheat 25%, wheat 50%, 
              red 50%, red 75%, 
              #4c4cff 75%, #4c4cff 100%);
}

.slot.lock {
  background: pink;
}

.slot.highlight {
  border: 4px solid black;
  background: yellow;
}

.card-name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.mana-cost {
  float: right;
  font-size: 1.1rem;
  color: black;
  margin-left: 10px;
}

.card-text {
  clear: both;
  font-size: 1rem;
  margin-top: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
  margin-right: 3px;
}