/* ErrorToast.css */
.error-toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336; /* Red background color for errors */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other content */
  animation: slideInRight 0.5s, fadeOut 5s 2s forwards; /* CSS animations */
}

.error-toast-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-toast-message {
  font-size: 16px;
}

.error-toast-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
